<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="static/styles.css" />
    <title>{% block title %}My Application{% endblock %}</title>
  </head>
  <body
    style="
      background-image: url('static/imagen_fondo.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    "
  >
    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
